.ideapush-container {
  display: flex;
  flex-direction: column;

  .idea-item-tag {
    margin: 0;
    padding-right: 0;
    padding-left: 0;
    border: none;
  }
}

.ideapush-container-ideas,
.ideapush-container-form {
  width: auto;
}

.ideapush-container-form {
  order: -1;
  margin-bottom: $spacer * 3;
}

.ideapush-form-inner {
  margin: 0;
}

.dynamic-idea-listing {
  display: flex;
  flex-wrap: wrap;
  margin-top: $grid-gutter-width;
  margin-left: -$grid-gutter-width !important;
}

.idea-item {
  display: block;
  width: calc(100% / 3 - #{$grid-gutter-width});
  margin: 0 0 $grid-gutter-width $grid-gutter-width;
  padding: 0;
  border: none;

  .card {
    height: 100%;
  }

  .card-body {
    display: flex;
    flex-direction: column;
    padding-top: 0;
    padding-bottom: 0;
  }

  .card-footer,
  .card-header {
    border: none;
    background-color: transparent;
  }

  .card-footer {
    display: flex;
    justify-content: center;
    padding: 0;
  }
}

.idea-item {
  .idea-item-left,
  .idea-item-right {
    width: 100%;
  }
}

.idea-item-right {
  order: -1;
}

.idea-item-right-inner {
  padding: 0;
}

.idea-vote-container {
  width: 80px;
  height: 80px;
  margin: $spacer / 2;
  background-color: $gray-200;
  border: none;
  border-radius: 50%;
}

.ideapush-icon-Tag {
  &::before {
    content: none !important;
  }
}
.ideas-that-are-text,
.ideapush-status-filter,
.status-container {
  display: none !important;
}

.idea-item-date,
.idea-author {
  font-size: $font-size-sm;
}

.idea-item-attachment {
  display: none;
}

.ideapush-icon-Duplicate {
  display: none;
}

.idea-read-more {
  display: inline-block;
}
