.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#page-wrapper {
  flex: 1 0 auto;
  overflow-x: hidden;

  @include media-breakpoint-up(lg) {
    padding-top: 0;
  }
}

#ocs-site {
  &[canvas="container"] {
    background-color: $alefpa-blue;
  }
}

article.page {
  background-color: $white;

  .inner {
    padding-top: $spacer * 2;
    padding-bottom: $spacer * 4;
  }

  .wp-post-image {
    width: 100%;
    height: 350px;
    object-fit: cover;
    object-position: center;
  }
}
