[class*="navbar-expand"] {
  .navbar-nav {
    .nav-link {
      font-size: $font-size-base;
      color: $white;
      text-align: center;

      span {
        display: block;
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  [class*="navbar-expand"] {
    position: relative;
    top: -20px;

    &.navbar {
      padding-top: 0;
      padding-bottom: 0;
    }

    .navbar-nav {
      width: 100%;
      background-color: transparent;
      border: 1px solid $white;

      .menu-item {
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        // align-items: center;
        flex: 1 0 auto;
        // margin-top: $nav-link-padding-y;
        // margin-bottom: $nav-link-padding-y;
        line-height: 1.125;

        .nav-link {
          padding-top: $spacer;
          padding-right: 0;
          padding-bottom: $spacer;
          padding-left: 0;
          font-weight: $font-weight-bold;

          span {
            padding-right: $nav-link-padding-x;
            padding-left: $nav-link-padding-x;
            border-right: 1px solid $white;
          }

          .fa-home {
            display: block;
            padding-right: $nav-link-padding-x;
            padding-left: $nav-link-padding-x;
            line-height: 18px;
            height: 18px;
          }
        }

        &:first-child {
          width: 40px;
          // flex: unset;

          .nav-link {
            font-size: $font-size-body !important;

            span {
              display: none;
            }
          }
        }

        &:nth-child(2) {
          .nav-link {
            span {
              padding-left: 0;
            }
          }
        }

        // &:nth-last-child(2) {
        //   .nav-link {
        //     span {
        //       border: none;
        //     }
        //   }
        // }

        &:last-child {
          background-color: transparent;

          .nav-link {
            span {
              border: none;
            }
          }
        }
      }
    }
  }
}

#menu-sous-menu {
  padding: 0;
  display: flex;

  flex-direction: column;
  @include media-breakpoint-up(lg) {
    flex-direction: row;
  }

  justify-content: space-around;
  align-items: center;
  list-style-type: none;

  .menu-item {
    a {
      font-weight: $font-weight-bold;
      color: $social;
      text-decoration: underline;
    }
  }
}
